* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.iframe {
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 10px;
top: 80px;
    box-shadow:
        0px 0px 10.4px rgba(0, 0, 0, 0.045),
        0px 0px 25.1px rgba(0, 0, 0, 0.065),
        0px 0px 47.2px rgba(0, 0, 0, 0.08),
        0px 0px 84.2px rgba(0, 0, 0, 0.095),
        0px 0px 157.5px rgba(0, 0, 0, 0.115),
        0px 0px 377px rgba(0, 0, 0, 0.16);
}

body #video {
    position: relative;
    width: 600px;
    height: 100%;
    border-radius: 10px;
    top: 80px;
    box-shadow:
        0px 0px 10.4px rgba(0, 0, 0, 0.045),
        0px 0px 25.1px rgba(0, 0, 0, 0.065),
        0px 0px 47.2px rgba(0, 0, 0, 0.08),
        0px 0px 84.2px rgba(0, 0, 0, 0.095),
        0px 0px 157.5px rgba(0, 0, 0, 0.115),
        0px 0px 377px rgba(0, 0, 0, 0.16);
}

.vid {
    position: absolute;
    text-align: center;
    margin-bottom: 15px;
    text-shadow: -1rem .2rem .8rem rgb(0, 0, 0, .5);
    top:  10%;
}
.vid h1 {
    color: #c29944;
    margin: 10px;
  }
  .vid p {
    color: #9e9e9d;
    margin-bottom: 30px;
  }

.start img {
    position: absolute;
    right: 30px;
    width: 40px;
    height: 40px;
    color: #c29944;
    transition: 0.5s;
    cursor: pointer;
   bottom: 90vh;
}

.start img:hover {
    transform: scale(1.1);
}

iframe {
    width: 600px;
    height: 300px;
    border-radius: 10px;

    box-shadow:
        0px 0px 10.4px rgba(0, 0, 0, 0.045),
        0px 0px 25.1px rgba(0, 0, 0, 0.065),
        0px 0px 47.2px rgba(0, 0, 0, 0.08),
        0px 0px 84.2px rgba(0, 0, 0, 0.095),
        0px 0px 157.5px rgba(0, 0, 0, 0.115),
        0px 0px 377px rgba(0, 0, 0, 0.16);
}



/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 620px) {
    .start img {
        position: absolute;
        right: 15px;
        width: 40px;
        height: 40px;
        top: 25px;
    }

    body #video {
        width: 420px;
        height: 100%;

    }

    iframe {
        width: 400px;
        height: 200px;

    }

    .vid h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }
    

}


/* APLICAÇÃO MEDIA QUERIES */
@media (max-width: 430px) {
    .start img {
        position: absolute;
        right: 15px;
        width: 40px;
        height: 40px;
        top: 25px;

    }

    body #video {
        width: 330px;
        height: 100%;
        border-radius: 10px;
        box-shadow:
            0px 0px 10.4px rgba(0, 0, 0, 0.045),
            0px 0px 25.1px rgba(0, 0, 0, 0.065),
            0px 0px 47.2px rgba(0, 0, 0, 0.08),
            0px 0px 84.2px rgba(0, 0, 0, 0.095),
            0px 0px 157.5px rgba(0, 0, 0, 0.115),
            0px 0px 377px rgba(0, 0, 0, 0.16);
    }

    iframe {
        width: 300px;
        height: 200px;

    }

    .vid h1 {
        font-size: 25px;
        margin-bottom: 15px;


    }

}
